<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wing.feathertoothlibray" >
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application>
        <receiver android:name="com.wing.feathertoothlibray.broadcast.BluetoothReceiver" >
            <intent-filter android:priority="1000">
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST"/>
                <action android:name="android.bluetooth.device.action.FOUND" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
